.container {
  background-color: rgb(194 222 228);
  padding: 10px;
}

header {
  background: rgb(194 222 228);
  background: linear-gradient(180deg, rgba(78,93,167,1) 0%, rgba(78, 93, 167, 0.753) 35%, rgba(194, 222, 228,0.2) 100%);
  padding: 10px;
  /* rgb(78 93 167) */
  /* rgb(183 211 218) */
}
.rigth {
  display: flex;
  margin-right: 10px;
}

.imgUser {
  font-size: 30px;
  margin-right: 5px;
}

.user {
  display: flex;
  align-items: center;
  color: white;
}

.headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;  
}

.headerContainer a {
  display: flex;
  align-items: center;
  margin-left: 15px;
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
}

.headerContainer span {
  margin-left: 20px;
}