
/* ------------------------------------Geral------------------------------------ */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, * {
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 109.94px);
}

/* ------------------------------------WELCOME------------------------------------ */
.welcome{
  display: flex;
}

.welcome img{
  height: 500px;
  position: absolute;
  width: 250px;
}



.welcome h1{
  color: #EE2A25;
  font-size: 50px;
  padding-left: 40%;
  padding-top: 10%;
}

.welcome p{
  color: #000000;
  font-size: 20px;
  padding-top: 30%;
  font-weight: bold;
}

button{
  background-color: #009CDB;
  border: none;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px 12px;

}



/* ------------------------------------LOGIN------------------------------------ */




/* ------------------------------------NOTFOUND-----------------------------------*/

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound p{
  color: gray;
}
.notFound img{
  width: 350px;
}


