
/* ------------------------------------Geral------------------------------------ */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(0, 0, 0, 0.9);
}

html, body, *, span {
  margin: 0;
  padding: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(to right, rgb(238, 42, 37) , rgb(0, 156, 219));
  /* background-color: rgb(250, 216, 184); */
}

.content {
  min-height: calc(100vh - 109.94px);
}

/* ------------------------------------WELCOME------------------------------------ */
.contentWelcome {
  min-height: calc(100vh - 109.94px);
  overflow: hidden;
}

.welcome{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.left {

}

.rigth {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  /* align-content: center; */
  width: 50%;
  margin-left: 30px;
}

.welcome .left img{
  height: 500px;
  width: 250px;
}

.welcome .rigth h1{
  color: #EE2A25;
  font-size: 50px;
}

.welcome .rigth p{
  font-size: 20px;
  font-weight: bold;
}

.buttoninit{
  font-weight: bold;
  background-color: #009CDB;
  width: 20%;
  border: 3px solid #009CDB;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px 12px;
  margin-top: 20px;
}

.buttoninit:hover{
  background-color: #FFFFFF;
  cursor: pointer;
  border: 3px solid #009CDB;
  color: #009CDB;
}



/* ------------------------------------LOGIN------------------------------------ */




/* ------------------------------------NOTFOUND-----------------------------------*/

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound p{
  color: gray;
}
.notFound img{
  width: 350px;
}

/* ------------------------------------DASHBOARD-----------------------------------*/


.contentDashboard {
  min-height: calc(100vh - 109.94px);
  overflow:auto;
}

.nameOrFilter {
  margin-top: 18px;
}

.contentDashboard .nameManager {
  text-align: center;
  border-radius: 20px;
  background-color: #ccc;
  color: rgb(0, 0, 0);
  padding: 5px 0;
}

.searchManager select{
  text-align: center;
  margin: 0;
  padding: 0;
  margin: 0 10px;
  width: 30%;
}

.dashboardValues {
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #ccc;
  border-radius: 20px;
}

.iconSearch {
  color: white;
  font-size: 28px;
}

.buttonSearch {
  padding: 10px;
}

.contentDashboard .searchManager {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 8px 0;
}

.listServiceAndgraphic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 330px;
  padding: 5px 0;
  background-color: #ccc;
  border-radius: 20px;
}

.listServiceAndgraphic .leftListServiceAndgraphic {
  width: 30%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

.listServiceAndgraphic .leftListServiceAndgraphic .header {
  text-align: center;
}

.listServiceAndgraphic .leftListServiceAndgraphic .body {
  height: 300px;
  overflow:auto;
}

.listServiceAndgraphic .rigthListServiceAndgraphic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 100%;
  background-color: #ffffff;
  border-radius: 20px;
}

/* ------------------------------------INSTANTFEEDBACK-----------------------------------*/

:root {
  --gray-900: #111114;
  --gray-800: #222224;
  --gray-700: #444444;
  --gray-600: #666664;
  --gray-500: #888884;
  --gray-400: #aaaaa4;
  --gray-300: #ccccc4;
  --gray-200: #e2e2e4;
  --gray-100: #f9f9f9;
  --white: white;
  --blue: #4299e1;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue);
  --border-radius: 4px;
}

label {
  font-weight: bold;
  display: flex;
}

input[type='email'],
input[type='text'] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: var(--border-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='email']:hover,
input[type='text']:hover {
  border: 2px solid var(--gray-300);
}

select {
  -webkit-appearance: none;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  border-radius: var(--border-radius);
  color: var(--gray-700);
  height: 2.5rem;
  width: 15rem;
  margin-top: 1rem;
  background-color: var(--gray-100);
  background-image: url('data:image/svg+xml;utf8,<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

select[multiple] {
  height: auto;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: initial;
}

input:focus,
select:focus
input:hover:focus,
select:hover:focus {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

input:invalid,
select:invalid {
  border: 2px solid #ff7d87;
  box-shadow: none;
}

input[type='submit'] {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type='submit']:hover {
  background: var(--gray-900);
}

input[type='submit']:focus-visible {
  border-color: var(--focus-ring-color);
  outline: none;
}

.input-feedback {
  color: red;
}

.error {
  color: red;
}

.success {
  color: green;
}

.valid input[type='email'],
.valid input[type='text'] {
  border-color: green;
}

.valid .feedback {
  color: green;
}

.invalid input[type='email'],
.invalid input[type='text'] {
  border-color: red;
}

.invalid .feedback {
  color: red;
}

/* ------------------------------------Contato-----------------------------------*/
.contacttitle{
display: flex;
flex-direction: column;
margin-bottom: 70px;
max-width: 500px;
line-height: 25px;
}

.contacttitle h1{
  margin-bottom: 24px;
  }

.contact{
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 15px;
}

.contact h1{
  margin-bottom: 16px;
}

.contact p{
  margin-bottom: 8px;
  }
  

.contactquestion{
  width: 100%;
  margin-bottom: 100px;
  padding-left: 15px;
  font-style: italic;
  display: flex;
  top: 84px;
  right: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contactForm {
  display: flex;
  width: 400px;
  justify-content: center;

}

.contactForm h3{
  margin-top: 10px;
}


.contactForm form{
  background-color: rgb(167, 146, 112, 0.9);
  width: 300px;
  border-radius: 16px;
  margin-top: 160px;
  /* margin-right:100px ; */
  box-shadow: 
  0 0 1.75px #fff,
  0 0 2.5px #fff,
  0 0 5.25px #fff,
  0 0 10.5px rgb(0, 156, 219),
  0 0 20.5px rgb(0, 156, 219),
  0 0 23px rgb(0, 156, 219),
  0 0 25.5px rgb(0, 156, 219),
  0 0 37.7px rgb(0, 156, 219);
}

.contactForm form:hover{
  box-shadow:
  0 0 1.75px #fff,
  0 0 2.5px #fff,
  0 0 5.25px #fff,
  0 0 10.5px rgb(255, 8, 0),
  0 0 20.5px rgb(255, 8, 0),
  0 0 23px rgb(255, 8, 0),
  0 0 25.5px rgb(255, 8, 0),
  0 0 37.7px rgb(255, 8, 0);
  transition: 0.75s;
}

.contactForm form:not(:hover){
  box-shadow: 
  0 0 1.75px #fff,
  0 0 2.5px #fff,
  0 0 5.25px #fff,
  0 0 10.5px rgb(0, 156, 219),
  0 0 20.5px rgb(0, 156, 219),
  0 0 23px rgb(0, 156, 219),
  0 0 25.5px rgb(0, 156, 219),
  0 0 37.7px rgb(0, 156, 219);
  transition: 0.75s;
}

.contactForm form{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.contactForm input{
  width: 200px;
  border-radius: 5px;
  height: 8px;
  border-style: none;
}

.contactForm textarea{
  width: 220px;
  height: 100px;
}

.contactForm label{
  justify-content: start;
  width: 215px;
  margin-top: 16px;
  font-size: 12px;
}

.contactForm select{
 margin-top: 0;
 border-radius: 5px;
 width: 218px;
 height: 30px;
 border-style: none;

}

/* .container button{
  width: 100px;
  cursor: pointer;
  margin: 15px;
  background-color: #009CDB;
} */

.contactquestion h1{
  color: rgb(238, 42, 37);
  text-shadow:
  0 0 1.75px #fff,
  0 0 2.5px #fff,
  0 0 5.25px #fff,
  0 0 10.5px rgb(0, 156, 219),
  0 0 20.5px rgb(0, 156, 219),
  0 0 23px rgb(0, 156, 219),
  0 0 25.5px rgb(0, 156, 219),
  0 0 37.7px rgb(0, 156, 219);
}

.btnContainer{
  height: 75px;
  margin-top: 15px;
  justify-content: center;
}

.btnContainer button {
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position:relative;
  background-color: rgb(211, 211, 211, 0.9);
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  z-index: 5;
}

.btnContainer button:after {
  content: "";
  border-radius: 20px;
  background-color: rgb(0, 156, 219, 0.9);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btnContainer button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btnContainer button {
    padding: 13px 50px 13px;
  }
}

.containerContact{
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  background: linear-gradient(to right, rgb(238, 42, 37) , rgb(0, 156, 219));

  /* background-color: rgb(250, 216, 184); */
}


.textContainer {
  margin-top: 160px;
  text-align: justify;
}