
/* ------------------------------------Geral------------------------------------ */
@font-face {
  font-family: "Optima";
  src: url('./utils/fonts/OPTIMA.TTF') format('truetype'), url('./utils/fonts/OPTIMA_B.TTF')  format('truetype')
}
body {

  background-image: linear-gradient(to bottom, rgba(80, 164, 77, 0.7) 0%,rgba(39, 85, 158, 0.7) 100%), url("./images/fundo1.jpg");
  background-size: 100%;
  background-repeat: repeat;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', 'OPTIMA', 'OPTIMA_B',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, *, span {
  margin: 0;
  padding: 0;
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', 'Optima'
    monospace;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.content {
  min-height: calc(100vh - 109.94px);
}

/* ------------------------------------WELCOME------------------------------------ */


.contentWelcome {
  min-height: calc(100vh - 109.94px);
  overflow: hidden;
}

.welcome{
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.welcome p{
 color: white;
}

.rigth {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  margin-left: 30px;
}

.welcome .left img{
  height: 500px;
  width: 250px;
}

.welcome .rigth h1{
  color: #EE2A25;
  font-size: 75px;
  font-family: 'OPTIMA_B';
  -webkit-text-stroke-width: 1px;              
  -webkit-text-stroke-color: #000;        
  font-weight: bold;
  
}

.walletName{
  color: #027cc9;
  font-family: 'OPTIMA_B';
  -webkit-text-stroke-width: 1px;              
  -webkit-text-stroke-color: #000;
  font-size: 100px;
  font-weight: bold;
}

.welcome .rigth p{
  font-size: 30px;
  font-weight: bold;
  font-family: 'OPTIMA_B';

}

.buttoninit{
  font-weight: bold;
  background-color: #4285F4;
  width: 20%;
  border: 3px solid #4285F4;
  border-radius: 8px;
  color: #FFFFFF;
  font-size: 16px;
  padding: 12px 12px;
  margin-top: 20px;
}

.buttoninit:hover{
  background-color: #FFFFFF;
  cursor: pointer;
  border: 3px solid #4285F4;
  color: #4285F4;
  transition: 0.4s;
}

.buttoninit:not(:hover){
  background-color: #4285F4;
  border: 3px solid #4285F4;
  color: #FFFFFF;
  transition: 0.4s;
}



/* ------------------------------------LOGIN------------------------------------ */

.loginContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.loginContainer div {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  align-items: center;
  width: 300px;
  background-color: rgba(190, 190, 190, 0.3);
  border-radius: 20px;
}

.loginContainer div h1 {
  margin-top: 32px;
  font-size: 60px;
  font-family: 'OPTIMA_B';
  color: rgb(0, 156, 219);
  border-style: 1px solid black;
  font-weight: bold;
  -webkit-text-stroke-width: 1px;         
  -webkit-text-stroke-color: #000;          
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;  
}

.formContainer {
  display: flex;
  flex-direction: column;
  margin-bottom: 32px;
  align-items: center;
}

.formContainer div {
  margin-top: 40px;
  background-color: transparent;
}


.inputUser {
  height: 40px;
  border-radius: 50px;
  border-style: none;
  background-color: rgb(245, 245, 245, 0.3);
  padding-left: 40px;
}

.inputPassword {
  height: 40px;
  border-radius: 50px;
  border-style: none;
  background-color: rgb(245, 245, 245, 0.3);
  padding-right: 20px;
  padding-left: 10px;
  margin-right: 30px; 
}



.userIcon {
  padding: 12px;
  font-size: 24px;
  border-radius: 50px;
  background-color: white;
  position: absolute;
  margin:-4px 0px 0 -92px ;
}

.lockIcon {
  padding: 12px;
  font-size: 24px;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  position: absolute;
  margin:-4px 0px 0 83px ;
}

.formContainer button {
  padding: 8px;
  width: 200px;
  border-radius: 50px;
  border-style: none;
  margin-top: 50px;
  cursor: pointer;
}

.formContainer button:hover {
  background-color: rgba(80, 164, 77);
  transition: 0.4s;
}

.formContainer button:not(:hover) {
  background-color: rgb(255, 255, 255);
  transition: 0.4s;
}





/* ------------------------------------NOTFOUND-----------------------------------*/

.notFound {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.notFound h1{
  font-size: 50px;
  color: #EE2A25;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;
  font-family: 'OPTIMA_B';
}
.notFound p{
  font-size: 25px;
  font-weight: bold;
  font-family: 'OPTIMA_B';

}
.notFound img{
  width: 350px;
}

/* ------------------------------------DASHBOARD-----------------------------------*/


.contentDashboard {
  min-height: calc(100vh - 109.94px);
  overflow:auto;
  margin: 50px 0;
}

.nameOrFilter {
  margin-top: 18px;
}

.contentDashboard .nameManager {
  text-align: center;
  border-radius: 20px;
  background-color: rgb(255, 255, 255, 0.65);
  color: rgb(0, 0, 0);
  padding: 10px 0;
}

.searchManager select{
  text-align: center;
  margin: 0 8px;
  width: 30%;
  border-radius: 16px;
}

.dashboardValues {
  margin: 10px 0;
  padding: 5px 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: rgb(255, 255, 255, 0.65);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
}

.iconSearch {
  color: rgb(0, 0, 0, 0.8);
  font-size: 28px;
}

.buttonSearch {
  padding: 12px;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  cursor: pointer;
}

.buttonSearch:hover{
  padding: 12px;
  border: none;
  border-radius: 50px;
  background-color: rgb(0, 0, 0, 0.9);
  color: white;
  font-size: 16px;
  transition: 0.4s;
}

.buttonSearch:not(:hover){
  padding: 12px;
  border: none;
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  font-size: 16px;
  transition: 0.4s;
}

.contentDashboard .searchManager {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(255, 255, 255, 0.65);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
  color: rgb(0, 0, 0);
  padding: 20px 0;
}

.listServiceAndgraphic {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5px 0;
  background-color: rgb(255, 255, 255, 0.65);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 20px;
}

.listServiceAndgraphic .leftListServiceAndgraphic {
  width: 30%;
  height: 100%;
  background-color: rgb(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 20px;
  margin: 25px 0;
  padding: 16px;
}

.listServiceAndgraphic .leftListServiceAndgraphic .header {
  text-align: center;
}

.listServiceAndgraphic .leftListServiceAndgraphic .body {
  height: 550px;
  overflow:auto;
}

.listServiceAndgraphic .rigthListServiceAndgraphic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55%;
  height: 100%;
  padding: 20px 10px;
  background-color: #ffffff;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
  border-radius: 20px;
}

/* ------------------------------------INSTANTFEEDBACK-----------------------------------*/

:root {
  --gray-900: #111114;
  --gray-800: #222224;
  --gray-700: #444444;
  --gray-600: #666664;
  --gray-500: #888884;
  --gray-400: #aaaaa4;
  --gray-300: #ccccc4;
  --gray-200: #e2e2e4;
  --gray-100: #f9f9f9;
  --white: white;
  --blue: #4299e1;
  --red: #f56565;
  --text-decoration-color: var(--gray-400);
  --text-color: var(--gray-800);
  --focus-ring-color: var(--blue);
  --border-radius: 4px;
}

label {
  font-weight: bold;
  display: flex;
}

input[type='email'],
input[type='text'] {
  padding: 0.65rem 0.5rem;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  background-color: var(--gray-100);
  color: var(--gray-800);
  border-radius: var(--border-radius);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input[type='email']:hover,
input[type='text']:hover {
  border: 2px solid var(--gray-300);
}

select {
  -webkit-appearance: none;
  font-size: 1rem;
  border: 2px solid var(--gray-200);
  border-radius: var(--border-radius);
  color: var(--gray-700);
  height: 2.5rem;
  width: 15rem;
  margin-top: 1rem;
  background-color: var(--gray-100);
  background-image: url('data:image/svg+xml;utf8,<svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>');
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center right 0.5rem;
}

select[multiple] {
  height: auto;
  background-image: none;
  background-repeat: no-repeat;
  background-size: auto;
  background-position: initial;
}

input:focus,
select:focus
input:hover:focus,
select:hover:focus {
  outline: none;
  border: 2px solid var(--focus-ring-color);
}

input:invalid,
select:invalid {
  border: 2px solid #ff7d87;
  box-shadow: none;
}

input[type='submit'] {
  padding: 0.5rem 1.25rem;
  font-size: 1rem;
  border-radius: var(--border-radius);
  background-color: var(--gray-700);
  border: 2px solid var(--gray-700);
  color: white;
  text-decoration: none;
  font-weight: bold;
  margin-bottom: 1rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  line-height: initial;
  transition: background-color 200ms ease-in-out, border 200ms ease-in-out,
    transform 200ms ease-in-out;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}

input[type='submit']:hover {
  background: var(--gray-900);
}

input[type='submit']:focus-visible {
  border-color: var(--focus-ring-color);
  outline: none;
}

.input-feedback {
  color: red;
}

.error {
  color: red;
}

.success {
  color: green;
}

.valid input[type='email'],
.valid input[type='text'] {
  border-color: green;
}

.valid .feedback {
  color: green;
}

.invalid input[type='email'],
.invalid input[type='text'] {
  border-color: red;
}

.invalid .feedback {
  color: red;
}

/* ------------------------------------Contact-----------------------------------*/
.contacttitle{
display: flex;
flex-direction: column;
margin-bottom: 70px;
max-width: 500px;
line-height: 25px;
}

.contacttitle p{
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'OPTIMA_B';
}

.contacttitle h1{
  margin-bottom: 24px;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;  
  color: #EE2A25;
  font-size: 35px;
  font-family: 'OPTIMA_B';       
  font-weight: bold;           
  }

.contact{
display: flex;
align-items: center;
flex-direction: column;
margin-bottom: 15px;
}

.contact h1{
  margin-bottom: 16px;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;  
  color: #EE2A25;
  font-size: 35px;
  font-family: 'OPTIMA_B';
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;        
  font-weight: bold;        
}

.contact p{
  margin-bottom: 8px;
  font-size: 25px;
  font-weight: bold;
  font-family: 'OPTIMA_B';
  }

.contactquestion{
  width: 100%;
  margin-bottom: 100px;
  padding-left: 15px;
  font-style: italic;
  display: flex;
  top: 84px;
  right: 0;
  justify-content: space-around;
  flex-wrap: wrap;
}

.contactForm {
  display: flex;
  width: 400px;
  justify-content: center;

}

.contactForm h3{
  margin-top: 10px;
}

.contactForm form{
  background-color: rgb(167, 146, 112, 0.9);
  width: 300px;
  border-radius: 16px;
  margin-top: 160px;
  box-shadow: 
  0 0 0.9px #fff,
  0 0 1.25px #fff,
  0 0 5.25px #fff,
  0 0 5.25px rgb(0, 156, 219),
  0 0 10.25px rgb(0, 156, 219),
  0 0 11.5px rgb(0, 156, 219),
  0 0 12.5px rgb(0, 156, 219),
  0 0 18px rgb(0, 156, 219);
}

.contactForm form:hover{
  box-shadow:
  0 0 0.9px #fff,
  0 0 1.25px #fff,
  0 0 5.25px #fff,
  0 0 5.25px rgb(255, 8, 0),
  0 0 10.25px rgb(255, 8, 0),
  0 0 11.5px rgb(255, 8, 0),
  0 0 12.5px rgb(255, 8, 0),
  0 0 18px rgb(255, 8, 0);
  transition: 0.75s;
}

.contactForm form:not(:hover){
  box-shadow: 
  0 0 0.9px #fff,
  0 0 1.25px #fff,
  0 0 5.25px #fff,
  0 0 5.25px rgb(0, 156, 219),
  0 0 10.25px rgb(0, 156, 219),
  0 0 11.5px rgb(0, 156, 219),
  0 0 12.5px rgb(0, 156, 219),
  0 0 18px rgb(0, 156, 219);
  transition: 0.75s;
}

.contactForm form{
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;

}

.contactForm input{
  width: 200px;
  border-radius: 5px;
  height: 8px;
  border-style: none;
}

.contactForm textarea{
  width: 220px;
  height: 100px;
}

.contactForm label{
  justify-content: start;
  width: 215px;
  margin-top: 16px;
  font-size: 12px;
}

.contactForm select{
 margin-top: 0;
 border-radius: 5px;
 width: 218px;
 height: 30px;
 border-style: none;

}

.contactquestion h1{
  color: #EE2A25;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;
  font-family: 'OPTIMA_B';
}

.btnContainer{
  height: 75px;
  margin-top: 15px;
  justify-content: center;
}

.btnContainer button {
  border-radius: 20px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  padding: 13px 20px 13px;
  outline: 0;
  border: 1px solid black;
  cursor: pointer;
  position:relative;
  background-color: rgb(211, 211, 211, 0.9);
  
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  justify-content: center;
  z-index: 5;
}

.btnContainer button:after {
  content: "";
  border-radius: 20px;
  background-color: rgb(0, 156, 219, 0.9);
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 7px;
  left: 7px;
  transition: 0.2s;
}

.btnContainer button:hover:after {
  top: 0px;
  left: 0px;
}

@media (min-width: 768px) {
  .btnContainer button {
    padding: 13px 50px 13px;
  }
}

.containerContact{
  max-width: 1200px;
  margin: 0 auto;
  overflow: hidden;
}

.textContainer {
  margin-top: 160px;
  text-align: justify;
}

/* ------------------------------------SERVICESCREATE-----------------------------------*/

.headerServiceCreate {
  text-align: center;
  color: white;
  margin: 20px;
}

.inputDate {
  border: none;
  border-radius: 5px;
  padding: 10px 10px;
}

.bodyServiceCreate {
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerServiceCreate {
  height: 100%;
}

.bodyServiceCreate button{
  margin: 20px;
  border: none;
  background-color: white;
  color: #027cc9;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.bodyServiceCreate button:hover{
  background-color: #027cc9;
  color: white;
  transition: 0.4s;
}

.bodyServiceCreate button:not(:hover){
  background-color: white;
  color: #027cc9;
  transition: 0.4s;
}

.bodyServiceCreate input{
  width: 220px;
  margin: 5px 0;
}

/* ------------------------------------MANAGERCREATE-----------------------------------*/

.headerManagerCreate {
  text-align: center;
  color: white;
  margin: 20px;
}

.bodyManagerCreate {
  color: white;
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.containerManagerCreate {
  height: 100%;
}

.bodyManagerCreate button{
  margin: 20px;
  border: none;
  background-color: white;
  color: #027cc9;
  font-weight: bold;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.bodyManagerCreate button:hover{
  background-color: #027cc9;
  color: white;
  transition: 0.4s;
}

.bodyManagerCreate button:not(:hover){
  background-color: white;
  color: #027cc9;
  transition: 0.4s;
}

.bodyManagerCreate input{
  margin: 5px 0;
}

/* ------------------------------------MANAGERS-----------------------------------*/

.managerHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
}

.managerHeader h1 {
  color: #EE2A25;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;
  font-size: 45px;
  font-family: 'OPTIMA_B';
  margin-bottom: 40px;
}

.managerHeader button {
  margin-top: 8px;
  border: none;
  background-color: #027cc9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 8px ;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 42px;
  font-size: 24px;
}

.managerHeader button:hover {
  background-color: white;
  color: #027cc9;
  transition: 0.4s;
}

.managerHeader button:not(:hover) {
  background-color: 027cc9;
  color: white;
  transition: 0.4s;
}

.contentManager::-webkit-scrollbar {
  display: none;
}

.contentManager {
  height: 91vh;
  overflow: auto;
}


.managerList {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 0 175px;
  justify-content: space-between;
}

/* ------------------------------------SERVICES-----------------------------------*/

.contentService {
  height: 91vh;
  overflow: auto;
}

.contentService::-webkit-scrollbar {
  display: none;
}

.serviceHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin: 20px;
}

.serviceHeader h1 {
  color: #EE2A25;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;
  font-size: 45px;
  font-family: 'OPTIMA_B';
  margin-bottom: 40px;
}

.serviceHeader button {
  margin-top: 8px;
  border: none;
  background-color: #027cc9;
  border-radius: 8px;
  display: flex;
  align-items: center;
  margin-left: 20px;
  padding: 10px ;
  font-size: 20px;
  color: white;
  cursor: pointer;
  margin-bottom: 42px;
}

.serviceHeader button:hover {
  background-color: white;
  color: #027cc9;
  transition: 0.4s;
}

.serviceHeader button:not(:hover) {
  background-color: #027cc9;
  color: white;
  transition: 0.4s;
}


.container .content .serviceList {
  display: flex;
  flex-flow: wrap;
  flex-direction: row;
  gap: 20px;
  padding: 0 175px;
  justify-content: space-between;
}

/* ------------------------------------About-----------------------------------*/
.aboutInit{
  margin-top: 50px;
  width: 100%;
  /* height: 150px; */
  display: flex;
  justify-content: center;
}

.aboutValues div{
  display: flex;
  flex-direction: column;
  margin-top: 70px;
  width: 1200px;
  background-color: rgba(190, 190, 190, 0.5);
  border-radius: 20px;
  padding: 10px 0;
}

.aboutValues{
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  text-align: center;
}
 .aboutValues li{
  list-style: none;
 }
 
.aboutGeneral{
  width: 390px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 25px;
}

.aboutGeneral li a{
  font-size: 18px;
  font-weight: bold;
  font-family: 'OPTIMA_B';
  text-decoration: none;
  margin: 8px 20px;
  color: #000;
}


.aboutGeneral h1{
  color: #EE2A25;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;
  font-size: 45px;
  font-family: 'OPTIMA_B';
  margin: 10px 0 25px 0;

}

.aboutGeneral h2{
  color: #EE2A25;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;
  font-size: 45px;
  font-family: 'OPTIMA_B';
  margin: 10px 0 25px 0;

}

.aboutGeneral li{
  display: flex;
  margin-left: 30px;
  flex-direction: column;
  align-items: center;

}
.aboutGeneral ul{
  display: flex;
  justify-content: space-between;
}

.aboutInit h1{
  font-size: 50px;
  color: #EE2A25;
  -webkit-text-stroke-width: 1px;             
  -webkit-text-stroke-color: #000;
  font-family: 'OPTIMA_B';
}

.aboutValues p{
  font-size: 25px;
  font-weight: bold;
  font-family: 'OPTIMA_B';
}

.imageDev{
  width: 80px;
  border-radius: 50px;
  display: flex;
}




